<% content_for :content do %>

	<div class="container">
		<div class="sidebar">
			<% if user_signed_in? %>
				<%= render @cart %>
			<% end %>
		</div>
		<div class="content">
			<%= yield %>
		</div>
	</div>
	
<% end %>
<%= render template: "layouts/application" %>