<html>
<body>
<h1>CSCI 100: Fun with Computers</h1>
<h2><%= section %></h2>

<%= content %>

<hr>
<br>
<footer>For more information about this course, contact Mickey Mouse (mmouse@mines.edu)</footer>

</body>
</html>