<h2>Listing pets</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Pet Type</th>
      <th>Pet Status</th>
      <th>Pet Image</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="the_pets">
    <%= render(@pets) %>
  </tbody>
</table>


<br>