<div class="panel panel-default">
  <div class="panel-heading">File Downloads</div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Filename</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @filedownloads.each do |filedownload| %>
          <tr>
            <td><%= filedownload.fileupload.filename %></td>
            <% if user_signed_in? %>
              <td>
                <%= link_to '', filedownload, :class => "glyphicon glyphicon-expand" %>
                <%= link_to 'View', filedownload %>
              </td>
              <td>
                <%= link_to filedownload.fileupload.user.first_name + " " + filedownload.fileupload.user.last_name, filedownload.fileupload.user %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
